 .banner {
 	background-image:  url(../../images/bannerpicture.jpeg);
 	size: 50px;
 	color:#AED6F1 ;
 	padding: 150px 0px;
 	background-size: cover;
 	background-position: center;
 	opacity: 200; 

 }

 .banner h1 {
 font-size: 30px;
 color: black;
 opacity: 3;

 }
 .banner h2 {
 	font-size: 30 px;
 	opacity: 2; 
 	font-weight: lighter;
 	margin-bottom: 50px;
 }
